{% extends "layout.html" %}
{% block body %}
<form method="get" action="."><p>Quick find: <input name="search"></p></form>
{% for row in rows %}
<div class="content p{{ row[4] }}"><p><a href="?id={{ row[0] }}" title="Permalink" class="permalink">{{ row[1] }}: {{ row[2] }}</a>
{% if auth %} | <a href="addent?id={{ row[0] }}" class="permalink">Edit</a>{% endif %}<br>
{% if more %}
</p></div>
{% else %}
{{ row[3]|preformat|urlize|trimspaces }}
</p></div>
<hr>
{% endif %}
{% endfor %}
{{ morelink|safe }}
{% endblock %}
